<h2>Sobre nós!</h2>
<p>Conheça os devs estudantes de Web Development responsáveis pelo site.</p>
<hr>

<div class="creator-card">
    <div class="creator-image">
      <img src="caminho/para/foto" alt="Alessandro Nunes"/>
    </div>
    <div class="creator-details">
      <h2>Alessandro Nunes</h2>
      <p>26 anos</p>
      <p>Alessandro ficou responsável pela criação da API e do banco de dados.</p>
      <p><a href="https://github.com/AlessandroNunes10">GitHub</a></p>
    </div>
</div>

<div class="creator-card">
    <div class="creator-image">
      <img src="https://avatars.githubusercontent.com/u/110258437?v=4" alt="Guilherme Cadete"/>
    </div>
    <div class="creator-details">
      <h2>Guilherme Cadete</h2>
      <p>19 anos</p>
      <p>Guilherme ficou responsável pela criação do visual e dockerização da aplicação.</p>
      <p><a href="https://github.com/kadetete">GitHub</a></p>
    </div>
</div>

<div class="creator-card">
    <div class="creator-image">
      <img src="https://avatars.githubusercontent.com/u/114671081?s=96&v=4" alt="Rafael Augusto"/>
    </div>
    <div class="creator-details">
      <h2>Rafael Augusto</h2>
      <p>19 anos</p>
      <p>Rafael ficou responsável pela criação da API e do banco de dados.</p>
      <p><a href="https://github.com/Rafael-Augusto-SS">GitHub</a></p>
    </div>
</div>

<div class="creator-card">
    <div class="creator-image">
      <img src="caminho/para/foto" alt="Samuel Lucas"/>
    </div>
    <div class="creator-details">
      <h2>Samuel Lucas</h2>
      <p>? anos</p>
      <p>Samuel ficou responsável pela documentação.</p>
      <p><a href="https://github.com/">Github</a></p>
    </div>
</div>