<app-menu></app-menu>
<div>
    <p-tabView>
        <p-tabPanel header="Quizzes" leftIcon="pi pi-fw pi-home" class="panel">
            <h2 class="titulo">Quizzes em destaque</h2>
            <br>
            <br>
            <p-carousel class="carrosel" [value]="quizzes">
                <ng-template let-quiz pTemplate="item">
                    <div class="quiz-item">
                        <br>
                        <br>
                        <div class="quiz-title">{{ quiz.nome }}</div>
                        <br>
                        <div class="quiz-descricao">{{ quiz.descricao }}</div>
                        <br>
                        <p-button class="quiz-botao" label="Jogar" icon="pi pi-play" (click)="jogar(quiz.id)"></p-button>
                    </div>
                </ng-template>
            </p-carousel>
            <br>
            <br>
            <h2 class="titulo">Todos os quizzes</h2>
            <br>
            <br>
            <p-table [paginator]="true" [value]="quizzes" dataKey="id"
            [rows]="10" [rowsPerPageOptions]="[10, 50, 100]" [autoLayout]="true"
            selectionMode="single" [(selection)]="quizSelecionado" 
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="nome">Nome <p-sortIcon field="nome"></p-sortIcon></th>
                        <th pSortableColumn="descricao">Descrição <p-sortIcon field="descricao"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-quiz>
                    <tr pSelectableRow="quizzes">
                        <td>{{ quiz.nome }}</td>
                        <td>{{ quiz.descricao }}</td>
                        <td><p-button class="quiz-botao" label="Jogar" icon="pi pi-play" (click)="jogar(quiz.id)"></p-button></td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
        <p-tabPanel header="Perfil" leftIcon="pi pi-fw pi-user" class="panel">
            <table>
                <tr>
                    <td><img class="avatar" src="..\assets\images\perfil\blank-profile-picture-973460_1280.png" alt="Imagem do perfil do usuário"></td>
                    <td>
                        Email: {{ email }} <br>
                        Usuario: {{ usuario}} <br> <br>
                        <label for="switch">Tema Escuro</label> &nbsp;
                        <p-inputSwitch id="switch" [(ngModel)]="ativo" (onChange)="mudarTema()"></p-inputSwitch>
                    </td>
                </tr>
            </table>
            <br>
            <br>
            <hr>
            <p-table>
                <ng-template pTemplate="header">
                    <th>Nome</th>
                    <th>Pontuação</th>
                </ng-template>
                <ng-template pTemplate="body">
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
        <p-tabPanel header="Sobre nós" leftIcon="pi pi-info-circle" class="panel">
            <app-sobre></app-sobre>
        </p-tabPanel>
    </p-tabView>
</div>
<hr>
<br>
<p-button class="link-button" (click)="creditos()" label="Créditos e agradecimentos" icon="pi pi-heart-fill"
    [text]="true"></p-button>