<div>
    <p-tabView>
        <p-tabPanel header="Quizzes" leftIcon="pi pi-fw pi-home">
            <p-carousel [value]="quizzes">
                <ng-template let-quiz pTemplate="item">
                    <div class="quiz-item">
                        <img [src]="quiz.imageUrl" alt="{{ quiz.title }}" class="quiz-image">
                        <div class="quiz-title">{{ quiz.title }}</div>
                    </div>
                </ng-template>
            </p-carousel>
        </p-tabPanel>
        <p-tabPanel header="Configurações" leftIcon="pi pi-fw pi-cog">
            <table>
                <tr>
                    <label for="switch">Tema Escuro</label> &nbsp;
                    <p-inputSwitch id="switch" [(ngModel)]="ativo" (onChange)="mudarTema()"></p-inputSwitch>
                </tr>
            </table>
        </p-tabPanel>
        <p-tabPanel header="Perfil" leftIcon="pi pi-fw pi-user">
            <!-- Conteúdo da aba Perfil -->
            <p>Conteúdo da aba Perfil</p>
        </p-tabPanel>
    </p-tabView>
</div>
<hr>
<br>
<a (click)="creditos()">Créditos e agradecimentos</a>
